<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uco.msinkankas.cmsc4513.SDD_Project">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <activity
        android:showWhenLocked="true"
        android:turnScreenOn="true">
    <application>
    <meta-data
        android:name="com.google.mlkit.vision.DEPENDENCIES"
        android:value="ocr" />
    <!-- To use multiple models: android:value="ocr,model2,model3" -->
    </application>
</manifest>
